<div class="jumbotron mt-4">
    <h1 class="display-4">Food Market</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, numquam? Distinctio dolore quibusdam laborum corrupti.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit exercitationem, ipsum eligendi numquam nostrum ducimus quis dolores perspiciatis quasi iste.</p>
    <a href="/carrito" class="btn btn-primary">Carrito</a>
</div>